<div id="<%= dom_id article %>" class="text-white">
  <h4 class="font-medium font-bold underline">
    <%= link_to article.title, article %>
    <% if article.owned_by? current_user %>
      <span class="actions">
        <%= link_to 'Edit', edit_article_path(article), class: "rounded-lg ml-2 px-2 inline-block font-medium text-white border-2 border-white" %>
      </span>
    <% end %>
  </h4> 
  
  <%= simple_format article.body %>
</div>
