<div class="flex justify-center">
  <div class="w-1/2">
    <div class="flex bg-black justify-center" >
      <hr class="w-12 h-px my-5 mb-2 bg-gray-400">

      <div class="bg-gray-400" style="width: 12rem; border-top-left-radius: 3rem; border-top-right-radius: 3rem; border-bottom-right-radius: 3rem; border-bottom-left-radius: 3rem">
        
        <h1 class="ml-6 text-3xl">New Entry</h1>
      </div>

      <hr class="w-12 h-px my-5 mb-2 bg-gray-400">
    </div>
    <div class="text-white">
      <%= render "form", article: @article %>
    </div>
  </div>
</div>



