<div class="flex">
  <header class="bg-blue-500 w-full px-4 flex justify-end ml-auto" style="margin: 0.5rem 0.5rem 0 0.5rem; border-top-left-radius: 8rem; border-top-right-radius: 8rem; font-family: 'Impact', fantasy; font-style: italic;">
    <div>
      <%= link_to "CAPTAIN'S BLOG", root_path, class: "px-1 mr-4 text-black", style: "font-size: 2rem;" %>
    </div>
    <div class="bg-black px-0.5 mr-8"></div>
  </header>
</div>
